.container {
  display: flex;
  flex-direction: column;
}

.pause {
  place-self: right;
}

.time {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-weight: 700;
}
