.back {
  align-self: flex-start;
}

.title {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.settings {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.continue {
  margin-top: auto;
}
